/* Global values */
$static-text-color: #d6c5a2;

/* Ensure banners span whole page */
.container-fluid
{
    padding: 0px;
}

.no-space
{
    padding: 0px;
    margin: 0px;
}

/* Header */

#banner-gradient
{
    background: linear-gradient(to right, black , maroon);
    display: flex;
    align-items: center;
}

/* Buttons */
button
{
    border-radius: 0px !important;
}

/* Main page container */

#main-page-body
{
    background-image: url("background.png");
}

/* User/channel sidebar */

.btn-create-channel
{
    width: 100%;
}

.list-group-item-dark
{
    background-color: black;
    color: $static-text-color !important;
}

/* Chat input */

#chat
{
    overflow-y: scroll;
    height: 75vh;
}

#chat-textfield
{
    width: 90% !important;
}

